extends ../layouts/base
 
block content
    article
        section#highlight
            #message(class="text-center shadow margin-left margin-right")
                p#headline.clear Olá, sou o Caio Resende! Veja meus trabalhos abaixo. 